<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tingr.blibs">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyCM9KoMI_iXz9MLaOLBKlOeh0ATuS2FoVI" />
        <!-- BEACON SCANNING SERVICE - BACKGROUND -->
        <service
            android:name=".services.BGBSubService"
            android:exported="false" />
        <service
            android:name=".services.BlibsServc"
            android:enabled="true"
            android:exported="true"
            android:label="blibs"
            android:process="org.tingr.blibs.daemon">
            <intent-filter>
                <action android:name="org.tingr.blibs.service" />
            </intent-filter>
        </service>
        <service
            android:name=".services.BootCompleteService"
            android:exported="false" />

        <activity
            android:name=".utils.PermissionsAsk"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- ON DEVICE BOOT -->
        <receiver
            android:name=".services.BootCompleteReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".services.BTStateChangeReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- ####################### -->
        <!-- DEMO RELATED HERE ONWARDS -->
        <!-- ####################### -->
        <receiver
            android:name=".demo.BlibsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="org.tingr.blibs.DETECTED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".demo.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>