<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tingr.blibs">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">

        <!-- ####################### -->
        <!-- LIBRARY INITIALIZERS & CALLBACKS -->
        <!-- ####################### -->
        <!-- INITIALIZERS (required) -->
        <meta-data
            android:name="org.tingr.blibs.init.type"
            android:value="parent" />
        <meta-data
            android:name="org.tingr.blibs.init.namespace"
            android:value="tingr-152315" />
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyCM9KoMI_iXz9MLaOLBKlOeh0ATuS2FoVI" />

        <!-- CALLBACKS (optional) -->
        <meta-data
            android:name="org.tingr.blibs.callback.found"
            android:value="org.tingr.blibs.iDETECTED" />
        <meta-data
            android:name="org.tingr.blibs.callback.lost"
            android:value="org.tingr.blibs.iDETECTED" />

        <!-- ####################### -->
        <!-- SERVICES -->
        <!-- ####################### -->
        <!-- DAEMON SERVICE -->
        <service
            android:name=".services.BlibsServc"
            android:enabled="true"
            android:exported="true"
            android:label="blibs"
            android:process="org.tingr.blibs.daemon">
            <intent-filter>
                <action android:name="org.tingr.blibs.service" />
            </intent-filter>
        </service>
        <!-- Bootcomplete service. Called by corresponding receiver. @See BootCompleteReceiver -->
        <service
            android:name=".services.BootCompleteService"
            android:exported="false" />
        <!-- BEACON SCAN -->
        <service
            android:name=".services.BGBSubService"
            android:exported="false" />
        <!-- PERMISSIONS Checker-->
        <activity
            android:name=".utils.PermissionsAsk"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- ####################### -->
        <!-- RECEIVERS -->
        <!-- ####################### -->
        <!-- DEVICE BOOT -->
        <receiver
            android:name=".services.BootCompleteReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <!-- BLUETOOTH -->
        <receiver
            android:name=".services.BTStateChangeReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- ####################### -->
        <!-- DEMO RELATED HERE ONWARDS -->
        <!-- ####################### -->
        <receiver
            android:name=".demo.BlibsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="org.tingr.blibs.iDETECTED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".demo.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>